CompileFlags:
  Add: 
    - -std=c99
    - -Wall
    - -Wextra
    - -pedantic
    - -DUNICODE
    - -D_UNICODE
    - -DWLINES_VERSION="dev"
    - -I.
  # If clangd can't find windows.h, you might need to point it to your include dir:
  # CompilationDatabase: .
